<html>
  <head>
    <title>
           DVCS Accounts
    </title>

    $webResourceManager.requireResourcesForContext("com.atlassian.jira.plugins.jira-bitbucket-connector-plugin")

    <script type="text/javascript">
        
        var BASE_URL = "${baseurl}";

        function init_repositories()
        {
            // run timer for repos sync statuses
			retrieveSyncStatus();
			registerAdminPermissionInlineDialogTooltips();
			registerDropdownCheckboxHandlers();
        }
		
		if (typeof dvcs == 'undefined') { var dvcs = {}; }
		if (typeof dvcs.connector == 'undefined') { dvcs.connector = {}; }
		if (typeof dvcs.connector.plugin == 'undefined') { dvcs.connector.plugin = {}; }
		
		dvcs.connector.plugin.onDemandLicense = $action.isOnDemandLicense();
		dvcs.connector.plugin.atlToken = "$atl_token";
		dvcs.connector.plugin.disabledHosts = {
            bitbucket : $action.isSyncDisabled("bitbucket"),
            github : $action.isSyncDisabled("github"),
            githube: $action.isSyncDisabled("githube")
        }


        #set($oAuthStore = $action.getOAuthStore())
        
        dvcs.connector.plugin.oAuthStore = {
            bitbucket : {
                key: '$!oAuthStore.getClientId("bitbucket")',
                secret: '$!oAuthStore.getSecret("bitbucket")'
            },
            github : {
                key: '$!oAuthStore.getClientId("github")',
                secret: '$!oAuthStore.getSecret("github")'
            },
            githube : {
                key: '$!oAuthStore.getClientId("githube")',
                secret: '$!oAuthStore.getSecret("githube")',
                url: '$!oAuthStore.getUrl("githube")'
            }
         }       
     </script>

    <meta name="admin.active.section" content="admin_plugins_menu/source_control"/>
    <meta name="admin.active.tab" content="bitbucket_bulk_repo"/>
  </head>

  <body>

         <h3>DVCS Accounts</h3>

        #if ($action.isOnDemandLicense())
            <p>Connect your <a href="https://confluence.atlassian.com/display/Cloud/Linking+a+bitbucket+or+GitHub+repository+with+JIRA" target="_blank">Bitbucket and GitHub accounts to JIRA Cloud</a> and link every commit with a bug or development task. Once configured, JIRA will query the repository searching commits for issue keys.</p>
        #else
            <p>Connect your <a href="https://confluence.atlassian.com/display/BITBUCKET/Use+the+JIRA+DVCS+Connector+Add-on" target="_blank">Bitbucket and GitHub accounts to JIRA</a> and link every commit with a bug or development task. Once configured, JIRA will query the repository searching commits for issue keys.</p>
        #end

        #if ($action.isAnySyncDisabled())
        <div class="aui-message warning shadowed">
            <p class="title">
                <span class="aui-icon icon-warning"></span>
                $action.syncDisabledWarningTitle
            </p>
            <p>$action.syncDisabledWarningMessage</p>
        </div>
        #end
		<div id="aui-message-bar-global"></div>
        #foreach ($errorMessage in $action.getErrorMessages())
                <div class="aui-message aui-message-error">
                    <p class="title">
                        <strong>Error!</strong>
                    </p>
                    <p>$errorMessage</p>
                </div>
        #end
	    <br/>

	   <input class="aui-button submit" id="linkRepositoryButton" type="button" title="Link Bitbucket or GitHub account" onclick="showAddRepoDetails(true)" value="Link Bitbucket or GitHub account" #if ($action.isAllSyncDisabled()) aria-disabled="true" disabled #end/>
       <div style="display: hidden" id="dvcs-connect-source"#if($source) data-source="$textutils.htmlEncode(${source})"#end data-source-or-default="$textutils.htmlEncode(${sourceOrDefault})"></div>

       <div id="organization-list">
           #printOrganizations()
       </div>
    
  </body>
</html>

############################################################################
## macros needs to be here as : 
## velocimacro.permissions.allow.inline.local.scope = true
## and we cannot affect velocimacro.library
############################################################################
#macro (printOrganizations)

<div class="vert-space">&nbsp;</div>
#foreach( $org in $action.loadOrganizations() )
  #set($syncDisabled = $action.isSyncDisabled($org.getDvcsType()))
  <div id="dvcs-orgdata-container-$org.id" class="dvcs-orgdata-container">
    <div id="aui-message-bar-$org.id"></div>
    #if($org.isAutolinkNewRepos())
        #set( $orgAutolink = "checked")
        #set( $orgSmartcommitsOnNewReposDisabled = "")
        #else
        #set( $orgAutolink = "")
        #set( $orgSmartcommitsOnNewReposDisabled = "disabled")
    #end
    #if($org.isSmartcommitsOnNewRepos())
        #set( $orgSmartcommitsOnNewRepos = "checked")
        #else
        #set( $orgSmartcommitsOnNewRepos = "")
    #end
    
    <div class="dvcs-header-container">
        <!--[if IE]>
        <h4 class="aui dvcsLogo"><img class="dvcs-account-image #if($syncDisabled) dvcs-sync-disabled #end" src="${baseurl}/download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/${org.getDvcsType()}_logo.png" alt="${org.getDvcsType()} logo" title="${org.getDvcsType()} logo" height="20px" width="20px"/>
        <![endif]-->
        <![if ! IE]>
        <h4 class="aui $org.getDvcsType()Logo #if($syncDisabled) dvcs-sync-disabled #end">
        <![endif]>
        <a href="$org.organizationUrl">$textutils.htmlEncode($org.name)</a>
        #if($org.getDvcsType() == "githube") <a href="https://enterprise.github.com/" target="_blank"><span title="GitHubEnterprise" class="dvcs-account-enterprise"> &nbsp; </span></a> #end
        #if($org.isIntegratedAccount())  - Configured by <a href="http://www.atlassian.com/software/ondemand" target="_blank"><span title="OnDemand" class="dvcs-account-ondemand"> &nbsp; </span></a> #end
        </h4>
        #if($syncDisabled) <span class="aui-lozenge">Sync disabled</span> #end
		#if($action.isInvalidOrganization($org))
			<span class="dvcs-invalid-organization error">Invalid credentials, please reset OAuth settings</span>
		#end
		<div class="dvcs-org-container #if($syncDisabled) dvcs-sync-disabled #end">
			<button aria-owns="setting-dropdown-$org.id" aria-haspopup="true" class="aui-button aui-dropdown2-trigger" #if ($syncDisabled) aria-disabled="true" disabled #end>
				<span class="aui-icon aui-icon-small aui-iconfont-configure">Show Settings</span>
			</button>
			<div id="setting-dropdown-$org.id" class="dvcs-organization-controls aui-dropdown2 aui-style-default">
				<div class="aui-dropdown2-section">
                    <ul>
                      <li><a id="org_autolink_check$org.id" class="aui-dropdown2-checkbox interactive $!orgAutolink">Autolink new repositories</a></li>
                      <li><a id="org_global_smarts$org.id" class="aui-dropdown2-checkbox interactive $!orgSmartcommitsOnNewRepos $!orgSmartcommitsOnNewReposDisabled">Enable smart commits on new repositories</a></li>
                    </ul>
                  </div>
              <div class="aui-dropdown2-section">
                <ul>
					<li><a href="#" onclick="javascript:syncRepositoryList($org.id,'$org.name'); return false;">Refresh list</a></li>
				    #if($org.dvcsType == "bitbucket" && $action.isUserInvitationsEnabled())
                    <li>
                        <a style="display:block;" href="#" onclick="javascript:configureDefaultGroups('$textutils.htmlEncode($org.name)', $org.id); return false;">Configure automatic access</a>
                    </li>
                    #end

                    #if( $org.isIntegratedAccount() )
                        <li>
                            <a href="#" onclick="return setOAuthSettings({'id':$org.id,'dvcsType':'$org.dvcsType','name':'$org.name','hostUrl':'$org.hostUrl','credential':{'key':'$!org.credential.oauthKey','secret':'$!org.credential.oauthSecret'}},'$atl_token')">Reset OAuth Settings</a>
                        </li>
                    #else
                        <li>
                            <a href="#" onclick="return configureOAuth({'id':$org.id,'dvcsType':'$org.dvcsType','name':'$org.name','hostUrl':'$org.hostUrl','credential':{'key':'$!org.credential.oauthKey','secret':'$!org.credential.oauthSecret'}},'$atl_token')">Reset OAuth Settings</a>
                        </li>
                        <li>
                            <a class="dvcs-control-delete-org" href="#" onclick="javascript: deleteOrganization('$org.id','$org.name'); return false;" >Delete</a>
                        </li>
                    #end
                </ul>
              </div>
            </div>
		</div>
		
        <div class="dvcs-dclear"></div>
    </div>
           
       #if (!$org.getRepositories().isEmpty())
        
       <table id="dvcs-repos-table-$org.id" class="aui dvcs-repos-table #if($syncDisabled) dvcs-sync-disabled #end">
        <thead>
            <tr>
                <th>Enabled</th>
                <th>Repository</th>
                <th style="text-align: right; white-space: nowrap;" >Last Activity</th>   ## last activity
                <th class="dvcs-centered">Sync Repo</th>   ## sync repo
                <th class="dvcs-smartcommits-head" style="white-space: nowrap;">Smart Commits</th>
            </tr>
        </thead>
        <tbody>

        #foreach( $repo in $org.getRepositories() )
            
            #if($repo.isLinked())
                #set( $repoAutolink = "checked='checked'")
                #else
                #set( $repoAutolink = "")
            #end
            
            #if($repo.isSmartcommitsEnabled())
                #set( $smartcommitsEnabled = "checked='checked'")
                #else
                #set( $smartcommitsEnabled = "")
            #end
            
            #if(!$repo.linked)
                #set( $dvcsRepoRowClass = "dvcs-disabled")
                #set( $dvcsNoDisplayClass = "dvcs-nodisplay")
                #else
                #set( $dvcsRepoRowClass = "")
                #set( $dvcsNoDisplayClass = "")
            #end
            <tr id="dvcs-repo-row-$repo.id" class="$!dvcsRepoRowClass dvcs-repo-row">

                <td class="dvcs-autolink-repo">
                    <span style="padding-left: 1px;">&nbsp;</span>
                    <input class="radio" id="repo_autolink_check$repo.id" type="checkbox" $!repoAutolink
						onclick="javascript: autoLinkIssuesRepo($repo.id, 'repo_autolink_check$repo.id');"
                        #if ($syncDisabled) aria-disabled="true" disabled #end />
                    <span style="display:none; width: 16px; height: 16px;" id="repo_autolink_check${repo.id}working" class="syncicon running">&nbsp;</span>

                </td>
                
                <td class="dvcs-org-reponame">
                    <a href="$repo.repositoryUrl">$textutils.htmlEncode($repo.name)</a>
					<span id="error_status_icon_$repo.id" class="repository-error-icon #if($repo.sync && !$repo.sync.hasAdminPermission())admin-permission aui-icon aui-icon-small aui-iconfont-warning dvcs-color-yellow#end">&nbsp;</span>


                    <span id="error_smrtcmmt_icon_$repo.id" class="#if($repo.sync && !$repo.sync.smartCommitErrors.isEmpty())error_smrtcmmt aui-icon aui-icon-small aui-iconfont-error dvcs-color-red#end">&nbsp;</span>
				</td>
                
                <td class="action" headers="action" style="text-align: right; white-space: nowrap;">
                
                    <div id="dvcs-action-container-$repo.id" class="$!dvcsNoDisplayClass dvcs-action-container">
                        <span id="syncicon_$repo.id" class="syncicon" >&nbsp;</span>
                        <span id="sync_status_message_$repo.id" class="gh_messages">
                            <span class="content"></span>
                        </span>
                        <span id="sync_error_message_$repo.id" class="gh_messages repo_sync_error_msg">
                        </span>
                    </div>
                    
                </td>

                <td class="dvcs-sync-repo dvcs-centered">
                    <div id="dvcs-action-container2-$repo.id" class="$!dvcsNoDisplayClass dvcs-action-container">
                    #if ($syncDisabled)
                        <span id="syncrepoicon_$repo.id" class="aui-icon aui-icon-small aui-iconfont-devtools-task-disabled dvcs-link-disabled" title="Synchronization is disabled" data-title="Synchronization is disabled">&nbsp;</span>
                    #else
                        <a href="#" id="jira-dvcs-connector-forceSyncDialog-$repo.id" onclick="forceSync(event, $repo.id); return false;">
                            <span id="syncrepoicon_$repo.id" class="syncrepoicon" title="Click To Sync Repo $textutils.htmlEncode($repo.name)" data-title="Click To Sync Repo $textutils.htmlEncode($repo.name)">&nbsp;</span>
                        </a>
                    #end
                    </div>
                </td>
                
                <td class="dvcs-smartcommits-repo">
                    <div id="dvcs-action-container3-$repo.id" class="$!dvcsNoDisplayClass">
                        <span style="padding-left: 1px;">&nbsp;</span>



                        <input class="radio" id="repo_smartcommits$repo.id" type="checkbox" $!smartcommitsEnabled $!localSmartcommitsDisabled
                         onclick="javascript: enableRepoSmartcommits($repo.id, 'repo_smartcommits$repo.id');"
                            #if($syncDisabled) aria-disabled="true" disabled #end/>

                        <span style="display:none; width: 16px; height: 16px;" id="repo_smartcommit_check${repo.id}working" class="syncicon running">&nbsp;</span>

                    </div>
                </td>

            </tr>
           
        #end
           
        </tbody>
    </table>
    
    #else
        <span class="dvcs-no-repos">
            No repositories.
        </span>
    #end
    
    <div class="vert-space">&nbsp;</div>
    <div class="vert-space">&nbsp;</div>
        
  </div>
#end


#end
